:root {
    --fondo: #efdcf5;
    --card: #c075c0;
    --colortxth1: #c075c0;
    --colortxt: #e739bc;

    --cabecera: #ffb6c1;
    --accent2: #776274;
    --muted: #6b7280;
    --dark: #0b1220;
}

html,
body {
    margin: 0;
    font-family: "Poppins", Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
    background: linear-gradient(180deg, #fffaf6 0%, #f7fbff 100%);
}

.card {

    width: 400px;
    height: 550px;
    margin: 20px auto;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(224, 77, 121, 0.1);
    text-align: center;
    animation: fadeIn 1.2s ease-out;
}

.intro {
    background-image: url('../img/banCelebration.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.intro h1 {
    color: var(--colortxth1);
}

.intro p {
    color: var(--colortxt);
}

.enterBtn {
    height: 60px;
    width: 160px;
    border-radius: 39px;
    background: linear-gradient(225deg, #c2a5b9, #e6c4dc);
    box-shadow: -13px 13px 26px #8a7584,
        13px -13px 26px #fff9ff;

}

